<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.2-alpha" targetFramework="net462" />
  <package id="Accord.MachineLearning" version="3.8.2-alpha" targetFramework="net462" />
  <package id="Accord.Math" version="3.8.2-alpha" targetFramework="net462" />
  <package id="Accord.Statistics" version="3.8.2-alpha" targetFramework="net462" />
  <package id="OxyPlot.Core" version="1.0.0" targetFramework="net462" />
  <package id="OxyPlot.Wpf" version="1.0.0" targetFramework="net462" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net462" />
</packages>