<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.4" targetFramework="net462" />
  <package id="Extended.Wpf.Toolkit" version="3.2.0" targetFramework="net462" />
  <package id="Fody" version="2.2.0" targetFramework="net462" developmentDependency="true" />
  <package id="MahApps.Metro" version="1.5.0" targetFramework="net462" />
  <package id="OxyPlot.Core" version="1.0.0" targetFramework="net462" />
  <package id="OxyPlot.Wpf" version="1.0.0" targetFramework="net462" />
  <package id="PropertyChanged.Fody" version="2.1.4" targetFramework="net462" developmentDependency="true" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net462" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net462" />
</packages>